body{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background-color: #252525;
    color: #00F2FF;
}

p {
    color: #F9F9F9;
}

/*
h1, h2 {
    color: blue;
}

.highlight {
    text-transform: uppercase;
    background-color: gold;
}

Para boas práticas utilizar classes para alterar elementos específicos no CSS 
.gray {
    color: gray;
}

#second {
    font-style: italic;
}
*/